Contents 
1. Import libraries 
2. Check statistics 
3. Check for mixed type data
4. Check for missing values 
5. Check for duplicates 
6. Drop duplicates 
7. Export df

1. Import libraries

In [43]:
#import libraries
import pandas as pd 
import numpy as np
import os

In [10]:
path = '/Users/wenboyang/Desktop/Data Analytics/05-08-2023 Instacart Basket Analysis /02 Data/'

In [15]:
products_file = os.path.join(path, 'Original Data', 'products.csv')

In [16]:
df_prods = pd.read_csv(products_file, index_col=False)

In [17]:
prepared_data = os.path.join(path, 'Prepared Data', 'orders_wrangled.csv')

In [18]:
df_ords = pd.read_csv(prepared_data, index_col=False)

2. Check statistics

In [20]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

3. Checked for mixed type data

In [21]:
#Finding mixed columns
df_test = pd.DataFrame()

In [22]:
df_test['mix'] = ['a', 'b', 1, True]

In [23]:
df_test

    mix
0     a
1     b
2     1
3  True

In [24]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [25]:
df_test['mix'] = df_test['mix'].astype('str')

In [26]:
df_test

    mix
0     a
1     b
2     1
3  True

In [27]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

4. Check for missing values

In [28]:
#Find missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [30]:
df_nan = df_prods[df_prods['product_name'].isnull()==True]

In [31]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [32]:
df_prods.shape

(49693, 5)

In [35]:
#New df without missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull()==False]

In [36]:
df_prods_clean.shape

(49677, 5)

5. Check for duplicates

In [38]:
#Find full duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [39]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [40]:
df_prods_clean.shape

(49677, 5)

6. Drop duplicates

In [44]:
#Drop duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [45]:
df_prods_clean_no_dups.shape

(49672, 5)

7. Export df

In [46]:
#Export df_prods_clean_no_dups
df_prods_clean_no_dups.to_csv(os.path.join(path,'Prepared Data', 'prods_checked.csv'))